body {
    background-color:#EDEFEB;
    font-family: "Open Sans", verdana, arial, sans-serif;
  }

  .text-area {
    color: rgb(14, 14, 14);
    font-size: 0.8rem !important;
    width: 98%;
    height: 60px;
    line-height: 14px;
    border-radius: 5px;
  }
  
  .main {
    font-size: 15px; 
    padding: 0px 10px;
    padding-left: 16%;
    color:#363535;
  }
  
  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4b9072a7;
    padding-left: 1%;
  }
  
  h1 {
    color:#30301f;
    font-family: ui-monospace;
  }
  
  h3 {
    margin-block-start:0.5em;
    font-size: smaller;
  }
  
  h4 {
    margin-block-end:0.3em;
    font-size: smaller;
  }
  
  .text{
    margin: 10px;
    padding: 25px;
    align-self: center;
  }
  
  .row{
    display: flex;
    align-items: center;
  }
  
  /* Boxes */
  
  .box {
    border-radius: 20px;
    background-color: #F9F9F8;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px lightgrey;
  }

  /* Scrollbars */
  *::-webkit-scrollbar {
    width: 12px;               
  }
  *::-webkit-scrollbar-track {
    background: #EDEFEB;        
  }
  *::-webkit-scrollbar-thumb {
    background-color:#ebb36abf;    
    border-radius: 20px;      
    border: 3px solid #EDEFEB;  
  }